body  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height:100vh;
    background: linear-gradient(to right,#3564E3,#3BA6D5);
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(187, 187, 187, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(187, 187, 187, 0.8);
}

.container-filtro {
    width: 95%;
    height:95%;
    max-height: 1000px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,.16);
    padding: 1em 2em;
    overflow-y: scroll;
}

.st-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}


.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}


.background-bag {
    width: 100%;
    height: 100%;
}

.search {
    color: #3988DC;
    fill: #3988DC;
}

.header-container {
   margin-bottom: 2em;
}

.items-filtro {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.item-in-search {
    margin: 20px;
    box-shadow: none;
    transition: all .25s cubic-bezier(0.59, -0.42, 0.89, 1.47);


    &:hover {

        box-shadow: 0px 6px 20px 0px rgba(0,0,0,.16);
    }
}

.addCar_search {
        
        background: linear-gradient(to right,#3564E3,#3BA6D5);

}

.search {

    &-title {
       margin-bottom: .5em;
        

    }

    &-img {
        margin-bottom: .5em;

    }

    &-descripcion {

    }
}


::-webkit-scrollbar {
    width: 5px;
}

#close {

}

.categorias {
        &-input {
        position: relative;
        width: 400px;
        height:40px;
        margin-bottom: 1em;

        &__item {
            padding-left: 15px;
            position: absolute;
            background-color: #f5f5f5;
            height: 100%;
            width: 100%;
            top:0;
            right:0;
            left:10px;
            border:none;
            border-radius: 5px;
            outline: none;
            font-size: 20px;
        }

        &__svg {
            display: none;
            cursor:pointer;
            position: absolute;
            right:10px;
            width: 15px;
            height:15px;
            top:50%;
            transform: translate(0,-50%);

            &.activeSvg {
                display: block;
            }
        }
     
    }
}

.categoria {

    &-input {
        position: relative;
        width: 200px;

        &__item {
            background-color: red;
        }

        &__svg {
            width: 25px;
            height:25px;
        }

        
    }

    &-container {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
    }

    &-title {
        width: 100%;
        font-size: 25px;
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    &-items {
        width: 100%;
        display: flex;
        flex-grow: 2;

        justify-content: space-between;
    }

    &-item {        
        flex-grow: 1;
        border:1px solid #efefef;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 700;
        cursor:pointer;
        transition: all .30s cubic-bezier(0.53, -0.48, 0.55, 1.47);

        &.active {
            flex-grow: 10;
            border:none;
            color: white;
            background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
            box-shadow: 0px 3px 6px 0px rgba(0,0,0,.16);

        }
    }
}

.st-effect-11.st-container {
	-webkit-perspective: 1500px;
    perspective: 1500px;
    width: 100%;
}

.st-effect-11 .st-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.st-effect-11.st-menu-open .st-pusher {
	-webkit-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
	transform: translate3d(100px, 0, -600px) rotateY(-20deg);
}

.st-effect-11.st-menu {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.st-effect-11.st-menu-open .st-effect-11.st-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-11.st-menu::after {
	display: none;
}

#st-container {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}


.st-pusher {
    top: 50%;
	left: 50%;
	z-index: 99;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}


/* bag */

.bag-offset  {
    position: absolute;
    z-index: 5000;
    background-color: white;
    width: 400px;
    bottom: 5em;
    top: 5em;
    left:1em;
    border-radius: 5px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,.16);
    padding:1em;
    display: flex;
    flex-direction: column;

    &-title {
        font-size: 20px;
        
        height: 50px;
        display: flex;
        align-items:center;
        margin-bottom: 1.5em;
        
        h3 {
            font-weight: 700;
            color: #929292;
        }
    }

    &-item {
        border-bottom:1px solid #efefef;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1em;
        &__img {
            width: 50px;
            //height: 50px;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            overflow: hidden;
            
            img {
                width: 170%;
            }
        }

        .svgBag {
            width: 15px;
            height: 15px;
        }

        &__details {
            flex-grow: 2;
            display: flex;
            flex-direction: column;
            padding-left: 1em;
        }

        &__title {
            margin-bottom: .3em;
        }

        &__descripcion {
            margin-bottom: .3em;
        }

        &__precio {
            font-weight: 700;
            font-size: 20px;
        }

        &__x {

        }
    }
}

.scroll-items {
    flex-grow: 1;
    overflow-y: scroll;
    margin-bottom: .5em;

}


.checkout {
    left:1.4em;
    right: 1em;
    height: 100px;
    bottom: .5em;
    border-radius: 5px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,.16);
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition: all .30s cubic-bezier(0.53, -0.48, 0.55, 1.47);

    &:hover {
        transform: translate(0,-2px);
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,.25);

    }
    &-text {
        color:white;
        font-size: 25px;
        font-weight: 700;
    }
}




